@charset "UTF-8";

/*
    Em HTML é id em CSS é # 
*/

body {
    background-color: #92D37E;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #344B2D;
}

h1#principal {
    text-align: center;
    color: white;
    background-color: green;
}

h2 {
    color: #638F56;
}

.basico {
    color: blue;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.destaque {
    background-color: pink;
}